.rating-modal {
  .window {
    position: relative;
    padding: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
    h2 {
      font-size: 24px;
      margin-bottom: 20px;
    }
    h3 {
      font-weight: bold;
      font-size: 20px;
      color: $blue;
      margin: 10px 0;
    }
    p {
      margin-top: 0;
      margin-bottom: 15px;
      font-size: 14px;
    }

    .close {
      width: 20px;
      height: 20px;
      position: absolute;
      top: 16px;
      right: 16px;
      background: url('../../assets/images/close.svg');
      background-size: cover;
      cursor: pointer;
    }
  }
}