.charts-modal {
  position: absolute;
  z-index: 50;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  top: 0;
  right: -100%;
  background: white;
  transition: .5s ease-out;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  visibility: hidden;
  
  &.is-open {
    visibility: visible;
    right: 0;
  }

  .grey-text {
    margin-top: 8px;
  }

  .wrapper {
    width: 100%;
    height: 100%;
    position: relative;
  }

  &::-webkit-scrollbar {
    width: 5px;
  }
   
  &::-webkit-scrollbar-thumb {
    background: $green; 
  }

  .modal-header {
    font-size: 22px;
    cursor: auto;
    margin: 0;
  
    .abréviation {
      font-size: 14px;
      transform: translate(-3px ,-11px);
    }
  }

  .modal-content {
    .section {
      margin: 20px;
    }
  }

  .value {
    font-size: 16px;
  }



  .go-back {
    z-index: 15;
    position: absolute;
    background: url(../../assets/images/back-arrow.svg);
    background-size: cover;
    width: 26px;
    height: 22px;
    top: 16px;
    left: 16px;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: transform .2s;

    &:hover {
      transform: scale(1.1);
    }
  }

  .chart {
    margin: 20px;
    position: relative;
    height: 90px;
    display: flex;
    align-items: center;

    .rating {
      position: absolute;
      font-size: 24px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $blue;
    }

    .wrapper {
      width: 90px;
      height: 90px;
    }

    .gauge {
      position: relative;
      stroke-linecap: round;
      width: 90px;
      height: 90px;
    }

    .base {
      fill: white;
      opacity: 0.2;
      stroke: $blue;
      stroke-width: 6px;
    }

    .arc {
      transition: stroke-dasharray 1s ease-out;
      stroke-dasharray: 0, 352;
      fill: none;
      stroke: $blue;
      stroke-width: 6px;
    }
    
    .chart-description {
      margin-left: 20px;
    }

    strong {
      color: $green;
    }
  }

  .blue-text {
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 20px;
    color: $blue;
    font-size: 14px;
    cursor: pointer;
    display: inline-block;
    &:hover {
      text-decoration: underline;
    }
  }
}